.preloader {
  display: flex;
  align-self: center;
  flex-flow: column wrap;
  img {
    width: 15vw;
    height: 15vw;
    align-self: center;
    animation: 1s dance infinite forwards;
  }
}

@keyframes dance {
  40% { transform: scale(1.4) rotate(17deg) }
  70% { transform: scale(0.7) rotate(-27deg) }
}
