nav {
  position: fixed;
  display: flex;
  top: 0;
  width: 60%;
  height: 10vh;
  padding: 8px;
  z-index: 1000;
  @media screen and ($mobile) {
    display: none;
  }
  .search-field {
    display: flex;
    width: 15%;
    margin: 0 24px;
    align-self: center;
    i {
      font-size: 21px;
      margin-right: 8px;
      color: $tertiary-color;
      align-self: center;
      cursor: pointer;
    }
    input {
      background: none;
      border: none;
      outline: none;
      color: $tertiary-color;
    }
  }
  .logo {
    h4 {
      width: 100%;
      letter-spacing: 1px;
      color: $tertiary-color;
    }
    img {
      width: 44px;
      height: 44px;
    }
    em {
      display: block;
      letter-spacing: 2px;
      color: $tertiary-color;
      text-align: right;
    }
  }
}
