.player {
  .grid_8, .grid_3 {
    align-self: flex-start;
  }
  .controls {
    display: flex;
    flex-direction: column-reverse;
    background: url('/assets/monstercat.png') no-repeat $primary-color center/cover;
    audio {
      width: 100%;
      background: $tertiary-color;
    }
    canvas {
      width: 50%;
      height: 60vh;
      margin: 0 auto;
      padding-top: 30vh;
    }
  }
  .track-list {
    height: 90vh;
    overflow-y: scroll;
  }
  .description {
    padding: 16px;
    p, span {
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 1.3;
    }
  }
  @media screen and ($mobile) {
    &.layout {
      flex-direction: column-reverse;
    }
  }
}
