.player {
  .grid_8, .grid_3 {
    align-self: flex-start;
  }
  .controls {
    display: flex;
    flex-direction: column-reverse;
    background: url('/assets/monstercat.png') no-repeat $primary-color center/130%;
    z-index: 100;
    @media screen and ($mobile) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    audio {
      width: 100%;
    }
    canvas {
      width: 70%;
      height: 60vh;
      margin: 0 auto;
      @media screen and ($mobile) {
        height: 20vh;
      }
    }
  }
  .track-list {
    height: 100vh;
    overflow-y: scroll;
  }
  .description {
    height: 15vh;
    padding: 16px;
    background: $tertiary-color;
    @media screen and ($mobile) {
      display: none;
    }
    p, span {
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 1.3;
    }
  }
  @media screen and ($mobile) {
    &.layout {
      flex-direction: column-reverse;
    }
  }
}
